# Assignment: Basic Python


```{admonition} Learning Goals
:class: tip

This assignment will verify that you have the following skills:
- Create lists and dictionaries
- Iterate through lists, tuples, and dictionaries
- Index sequences (e.g. lists and tuples)
- Define functions
- Use optional keyword arguments in functions
```

## Part I: Lists and Loops

In this problem, we will explore the basic data structures and flow controls of Python by _manually creating data structures_.


```{warning}
Pluto is [not a planet any more](https://www.loc.gov/everyday-mysteries/item/why-is-pluto-no-longer-a-planet/).
```

### 1) Create a list with the names of every planet in the solar system (in order)

In [34]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

### 2) Have Python tell you how many planets there are by examining your list

In [23]:
len(planets)

8

### 3) Use slicing to display the first four planets (the rocky planets)

In [20]:
print ('rocky planets: ', planets[:4])

rocky planets:  ['Mercury', 'Venus', 'Earth', 'Mars']

### 4) Iterate through your planets and print the planet name only if it has an `s` at the end

In [3]:
for p in planets:
    if p [len (p) - 1] == 's':
        print (p)

Venus
Mars
Uranus

## Part II: Dictionaries

### 1) Now create a dictionary that maps each planet name to its mass

You can use values from this [NASA fact sheet](https://nssdc.gsfc.nasa.gov/planetary/factsheet/).
You can use whatever units you want, but be consistent.

In [23]:
planets_mass = dict ( Mercury = 0.33, # 10^24kg
                     Venus = 4.87, Earth = 5.97, Mars = 0.642, Jupiter = 1898, Saturn = 568, Uranus = 86.8, Neptune = 102)

### 2) Use your dictionary to look up Earth's mass

In [24]:
planets_mass ['Earth']

5.97

### 3) Loop through the data and create a list of planets whose mass is greater than 100 x 10^24 kg 

Display your result

In [31]:
a = 100
for pp in planets_mass:
    mass = planets_mass [pp] 
    if mass > a:
        print (pp)

Jupiter
Saturn
Neptune

### 4) Now add pluto to your dictionary

In [38]:
planets_mass ['Pluto'] = 0.0130
planets_mass

{'Mercury': 0.33,
 'Venus': 4.87,
 'Earth': 5.97,
 'Mars': 0.642,
 'Jupiter': 1898,
 'Saturn': 568,
 'Uranus': 86.8,
 'Neptune': 102,
 'Pluto': 0.013}

## Part III: Functions

### 1) Write a function to convert temperature from kelvin to celsius and celsius to kelvin

In [47]:
def celsius (kelvin):
    return kelvin - 273.15
#for example 313.15 K
print (str(celsius(313.15)) + ' ℃')

40.0 ℃

In [46]:
def kelvin (celsius):
    return celsius + 273.15
#for example 40 ℃
print (str(kelvin(40)) + ' K')

313.15 K

### 2) Write a function to convert temperature to fahrenheit

Include an optional keyword argument to specify whether the input is in  celcius or kelvin.
Call your previously defined functions if necessary.

In [51]:
def Fahrenheit (T, C = True): 
    if C:
        T =  9/5 * T + 32
    else:
        T =  9/5 * (T - 273.15) + 32
    return str(T) + ' ℉'
#for example 40 ℃ / 313.15℉
[Fahrenheit(40), Fahrenheit(313.15, C = False )]

['104.0 ℉', '104.0 ℉']

### 3) Check that the outputs are sensible

by trying a few examples

In [52]:
print ([str(celsius(313.15)) + ' ℃', str(kelvin(40)) + ' K', Fahrenheit(40), Fahrenheit(313.15, C = False )])

['40.0 ℃', '313.15 K', '104.0 ℉', '104.0 ℉']

### 4) Now write a function that converts _from_ farenheit

and uses a keyword argument to specify whether you want the output in celcius or kelvin

In [58]:
def T (TT, C = True):
    if C:
        TT = 5/9 * (TT - 32)
        return str(TT) + ' ℃'
    else:
        TT = 5/9 * (TT - 32) + 273.15
        return str(TT) + ' K'
[T(104), T(104, C = False)]

['40.0 ℃', '313.15 K']

### 5) Write a function that takes two arguments (feet and inches) and returns height in meters

Verify it gives sensible answers

In [32]:
def height (feet, inches): 
    total_i = 12 * feet + inches
    meters = total_i * 2.54 * 0.01
    meters_round = round(meters, 2)
    return meters_round
height (5, 8.5)

1.74

### 6. Write a function takes one argument (height in meters) and returns two arguments (feet and inches)

(Consult the [tutorial on numbers](https://docs.python.org/3/tutorial/introduction.html#numbers) if you are stuck on how to implement this.)

In [31]:
def height_in_meters (meters): 
    total_inches = meters * 100 / 2.54
    feet = int (total_inches / 12)
    inches = total_inches - feet *12
    inches_round = round(inches, 2)
    return [feet, inches_round]
height_in_meters (1.74)

[5, 8.5]

### 7) Verify that the "round trip" conversion from and back to meters is consistent 

Check for 3 different values of height in meters

In [33]:
height_in_meters (1.74), height (5, 8.5)

([5, 8.5], 1.74)